<!DOCTYPE html>
<html lang="en">
<!-- This is the layout page for all pages -->
<head>
  <!-- This partial holds all our sites metadata and head data -->
  <%- include('../partials/head') %>
  <title><%- title %></title>
</head>
  <body class="d-flex flex-column min-vh-100">

      <!-- This partial is our nav-bar -->
      <%- include('../partials/nav') %>
      <main role="main" class="mx-auto my-4 px-4 py-2 flex-shrink-0 ">
          <!-- This tag indicates where the content should be put into this layout page. -->
          <%- body %>
      </main>
     
      <!-- This partial is for our footer -->
      <%- include('../partials/footer') %>
  </body>
</html>